
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


/* Change font of header text */
h1,h3{
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
}


h2{
  text-align: center;
}


body {
    width: 100%;
}

p{   
      font-size: x-large;
}

.box{ padding: 1em; } 

div.box-body{
  text-align: center;
}

p.Tipo{
   text-align: center;
}


.control-label{
    font-size: x-large;
    text-align: justify;
}

.imgIcon{
  display: block; margin-left: auto; margin-right: auto;
}




