
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


/* Change font of header text */
h1{
  text-align: center;
}


body {
    width: 100%;
}

p{   
      font-size: x-large;
}


.control-label{
    font-size: x-large;
    text-align: justify;
}