
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');



#myCarousel{ width: 100%}



#imgRetail{  height: 300px;
}

#dataMining{ height: 244px;}

#imgVentas{height:250px;}

a {
  color:rgb(255,0,0);
}





/* Navbar */


.navbar .navbar-nav {
    float: left;
    padding-right: 100px;
    padding-top: 25px;
}


.navbar-default .navbar-nav>li>a {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 15px;
    color: #000;
    text-transform: uppercase;
    background: #FFF;
    position: relative;
    display: block;
    padding: 10px 15px;
}


.navbar-default .navbar-brand {
  font-size: 40px;
  color: #73C6B6;
  padding-top: 33px;
}



.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: #D0ECE7;
  color: #566573;
}


.navbar-default .navbar-nav>.active>a{
  color: #566573;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #566573;
  background-color: #D1F2EB;
}

.nav a{
  color:#566573 ; 
   background-color: #D1F2EB ; 
}

.dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #ffffff;
    outline: 0;
    background-color: #73C6B6;
   
}


/* body */

body {
  font-family: 'Montserrat', sans-serif;
	font-size: 15px;
  font-weight: 400;
	overflow-x:hidden;
}





/* HEADINGS */

h4,h5,h6 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	color: #374050;
	text-transform: uppercase;
}

h3{
  text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	color: #374050;
	text-transform: uppercase;
}

h2{
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  font-size: 2em;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	color: #374050;
	text-transform: uppercase;
}

h1 {
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	color: #374050;
	text-transform: uppercase;
}


/* BOX  */

div.row.container{
  display: flex ; 
  justify-content:center;
  margin: 0 auto ;
}

  
.container div.col-sm-3{
    background-color: #D0ECE7;
    padding: 3px 10px 5px;
    border: #73C6B6 2px solid;
    border-radius: 20px;
    text-align: justify;
   margin:  2px 1em 0px 10px;
   flex-grow: 4; /* default 0 */
}

div.box-body.BoxCesta{
  text-align: justify;
}


/* RESUMEN  */

#resumen .col-sm-4{
      background-color: #D0ECE7;
    padding: 3px 10px 5px;
    border: #73C6B6 2px solid;
    border-radius: 20px;
    text-align: justify;
   margin:  2px 1em 0px 10px;
}

#resumen{
    display: flex ; 
  justify-content:center;
  margin: 0 auto ;
}

/* ICONOS */

.fa.ICN{
  font-size: 30px;
  padding-left:2em;
  /*color: dfjodfj*/
  
}

/* Change font of header text */



.center{
  text-align: center;
}


b, strong {
    font-weight: bold;
}



p{
  text-align: justify;
  font-size: x-large;
}


.NumGran{
  font-size: xxx-large;
  text-align: center;
}

.box{ padding: 1em; } 

div.box-body{
  text-align: center;
}

p.Tipo{
   text-align: center;
}


.control-label{
    font-size: x-large;
    text-align: justify;
}

.imgIcon{
  display: block; margin-left: auto; margin-right: auto;
}

div.row.ColVbles{
  font-size: x-large;
  display: flex ;
  padding:10px;
  justify-content: space-evenly ; 
  
}


/*  SIDEBAR */

.tab-pane .row{
  
  margin-top:50px;
}




/* ICONOS LISTA VARIABLES */

.ICN{ color: #A2D9CE;}



/* TABLA EDA  */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}




/* -- Feature -- */

.feature {
	position:relative;
	margin-left: 5em
}

.feature + .feature  {
	margin-top:40px;
}

.feature .feature-icon {
	position:absolute;
	left:0;
	top:0;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	border-radius: 50%;
	font-size:30px;
	border:1px solid #EBEBEB;
	color:#A2D9CE;
}

.feature-content {
	padding-left:100px;
}



/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



