
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


body{
  width: 100%;
}


/* Change font of header text */
h1,h2 {
  font-family: 'Yusei Magic', sans-serif;
}


#myCarousel{ width: 100%}


p{
  font-size: medium;
}


#imgRetail{  height: 300px;
}

#dataMining{ height: 244px;}

#imgVentas{height:250px;}
